<html>
    <head>
        <title>Django Girls Col</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls</a></h1>
        </div>

        <div> <h2>
            ¿Qué es Django Girls?
        </h2></div>

        <div>
            <p>Django Girls Colombia</p>
            <p>Django Girls es una organización sin fines de lucro y una comunidad que empodera y ayuda a las mujeres a organizar talleres de programación gratuitos de un día al proporcionar herramientas, recursos y apoyo. Somos una organización dirigida por voluntarios con cientos de personas que contribuyen a traer más mujeres increíbles al mundo de la tecnología. Estamos haciendo que la tecnología sea más accesible mediante la creación de recursos diseñados con empatía.</p>

            <h2><a href="">¡Lleva Django Girls a tu ciudad!
            </a></h2>
            <p>Abrimos el Manual del organizador que le proporciona toda la información necesaria para organizar el taller de Django Girls. ¡Al ofrecerse como voluntario para organizar, se une a una comunidad vibrante y solidaria de 2252 organizadores en todo el mundo!...</p>
            <button>Click para saber más.</button>
        </div>
    <footer>
        <div>
            <p>publicado: 02.07.22</p>
            <h6><a href="">Para un gran futuro.</a></h6>
            
        </div>
    </footer>
    </body>
</html>